.btn-blue {
  color: #fff !important;
  background-color: #428bca;
  cursor: pointer;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
}
.pointer {
  cursor: pointer;
}
.error {
  color: red;
}

.modal-dialog {
  .modal-header {
    background-color:#428bca;
    color:#fff
  }
}