.manage-exam {
  .ant-table-thead > tr > th.ant-table-column-sort {
    background: transparent;
  }
  table {
    border: 1px solid #ddd;
    thead {
      background-color: #666;
      color: #fff;
      tr {
        th {
          white-space: nowrap;
          font-weight: 300;
          min-height: 18px;
          line-height: 18px;
          border: none;
          font-size: 12px;
          background-color: #666;
          overflow: hidden;
          text-overflow: ellipsis;
          color: #fff;
          a {
            cursor: pointer;
          }
        }
      }
    }
    tbody {
      tr {
        td {
          border: none;
          text-align: left;
          color: #333;
          padding: 14px 5px;
          overflow: hidden;
          line-height: 1.6em;
          vertical-align: middle;
          font-size: 12px;
          border-bottom: 1px solid #ccc;
          .select-input {
            height: 30px !important;
            font-size: 13px;
          }
          .btn {
            font-size: 12px;
          }
        }
      }
    }
  }
  .description-width {
    white-space: normal;
    display: -webkit-box;
    max-width: 720px;
    height: 97.2px;
    margin: -1px auto;
    line-height: 1.4;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .modal-dialog {
    .modal-header {
      background-color:#428bca;
      color:#fff
    }
  }
  @media (min-width: 576px) {
    .modal-dialog {
      max-width: 70%;
      margin: 1.75rem auto;
    }
  }
  .form-horizontal input.form-control {
    height: 28px;
    max-width: 400px;
    padding: 5px 10px;
  }
}

